<%-include('partials/_header.ejs') -%>
<form action="/login" method="POST">
      
    <h1>Login</h1>
    
    <fieldset>
     
      
      
      <label for="correo">Email:</label>
      <input type="email" name="correo">
      
      <label for="password">Password:</label>
      <input type="password"  name="password">
      
      
    </fieldset>
    
  
    <button class="button_save" type="submit">LogIn</button>
    <br>
    <br>
   
  </form>
  <a href="/registro" class="boton_personalizado" style="text-align: center; display: inline-block; width: 100%;"  > Regitro  </a>
<%-include('partials/_footer.ejs') -%>